<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOTTOMS | DressZeN Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bottoms.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo"></a>
        </div>

        <div class="website-name">
            <img src="{{ url_for('static', filename='img/header.png') }}" alt="Website name" class="website-name-img">
        </div>

        <nav class="search-login-menu">
            <!-- Search bar -->
            <form action="{{ url_for('search') }}" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Search..." required class="search-bar">
                <button type="submit">Search</button>
            </form>
            
            <!-- Logout button -->
            <a href="{{ url_for('signout') }} " class="login-btn">LOGOUT</a>

            <!-- Three lines menu -->
            <div class="menu-icon" aria-label="Menu" onclick="toggleDropdown()">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>

            <!-- Dropdown Menu -->
            <div id="dropdownMenu" class="dropdown-menu" style="display:none;"> <!-- Hide by default -->
                <a href="#profile">YOUR PROFILE</a>
                <a href="{{ url_for('saved') }}">SAVED ITEMS</a>
                <a href="{{ url_for('brands') }}">BRANDS</a> <!-- Link to brands page -->
            </div>
        </nav>
    </header>

    <!-- Task Bar -->
    <nav class="task-bar">
        <a href="{{ url_for('tops') }}"><button class="task-btn">TOPS</a></button>
        <a href="{{ url_for('bottoms') }}"><button class="task-btn">BOTTOMS</a></button>
        <a href="{{ url_for('shoes') }}"><button class="task-btn">SHOES</a></button>
        <a href="{{ url_for('acc') }}"><button class="task-btn">ACCESSORIES</a></button>
    </nav>

    
    <div class="grid-container">
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='bottom1') }}">
                <img src="{{ url_for('static', filename='img/b1.png') }}" alt="Assessor Image 1">
                <h2>Burgundy Tailored Pants- Female</h2>
                <p>Bershka</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='bottom2') }}">
                <img src="{{ url_for('static', filename='img/b2.png') }}" alt="Assessor Image 2">
                <h2>Black Leather Trousers- Female</h2>
                <p>Stradivarius</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='bottom3') }}">
                <img src="{{ url_for('static', filename='img/b3.jpg') }}" alt="Assessor Image 3">
                <h2>Blue Linen Pants- Male</h2>
                <p>Balenciaga</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='bottom4') }}">
                <img src="{{ url_for('static', filename='img/b4.jpg') }}" alt="Assessor Image 4">
                <h2>Cream Trousers- Male</h2>
                <p>Dior</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='bottom5') }}">
                <img src="{{ url_for('static', filename='img/b5.jpg') }}" alt="Assessor Image 5">
                <h2>White Linen Trousers- Male</h2>
                <p>Ralph Lauren</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='bottom6') }}">
                <img src="{{ url_for('static', filename='img/b6.png') }}" alt="Assessor Image 6">
                <h2>White Flared Pants with Cable Pattern- Female</h2>
                <p>Lululemon</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
    </div>

    <!-- Horizontal line separating body and footer -->
    <hr class="separator-line">

    <footer class="">
        <p>&copy; 2024 DressZeN Finder | <a href="{{ url_for('imprint') }}">Imprint</a></p>
        <p>&copy; 2024 DressZeN Finder | <a href="{{ url_for('maintenance') }}">Maintenance</a></p>
    </footer>

    <script>
        document.querySelector('.login-btn').addEventListener('click', function() {
            window.location.href = '/register';
        });
        // Function to toggle dropdown menu visibility
        function toggleDropdown() {
            var dropdown = document.getElementById("dropdownMenu");
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }

        // Close dropdown if clicked outside
        window.onclick = function(event) {
            if (!event.target.matches('.menu-icon')) {
                const dropdowns = document.getElementsByClassName("dropdown-menu");
                for (let i = 0; i < dropdowns.length; i++) {
                    const openDropdown = dropdowns[i];
                    if (openDropdown.style.display === 'block') {
                        openDropdown.style.display = 'none';
                    }
                }
            }
        }
    </script>
</body>
</html>
