<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOES | DressZen Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shoes.css') }}">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo"></a>
        </div>

        <div class="website-name">
            <img src="{{ url_for('static', filename='img/header.png') }}" alt="Website name" class="website-name-img">
        </div>

        <nav class="search-login-menu">
            <!-- Search bar -->
            <form action="{{ url_for('search') }}" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Search..." required class="search-bar">
                <button type="submit">Search</button>
            </form>
            
            <!-- Logout button -->
            <a href="{{ url_for('signout') }} " class="login-btn">LOGOUT</a>

            <!-- Three lines menu -->
            <div class="menu-icon" aria-label="Menu" onclick="toggleDropdown()">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>

            <!-- Dropdown Menu -->
            <div id="dropdownMenu" class="dropdown-menu" style="display:none;"> <!-- Hide by default -->
                <a href="#profile">YOUR PROFILE</a>
                <a href="{{ url_for('saved') }}">SAVED ITEMS</a>
                <a href="{{ url_for('brands') }}">BRANDS</a> <!-- Link to brands page -->
            </div>
        </nav>
    </header>

    <!-- Task Bar -->
    <nav class="task-bar">
        <a href="{{ url_for('tops') }}"><button class="task-btn">TOPS</button></a>
        <a href="{{ url_for('bottoms') }}"><button class="task-btn">BOTTOMS</button></a>
        <a href="{{ url_for('shoes') }}"><button class="task-btn">SHOES</button></a>
        <a href="{{ url_for('acc') }}"><button class="task-btn">ACCESSORIES</button></a>
    </nav>

    
    <div class="grid-container">
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='shoes1') }}">
                <img src="{{ url_for('static', filename='img/imgshoe1.jpeg') }}" alt="Assessor Image 1">
                <h2>Creme Platform Boots-Female</h2>
                <p>Bershka</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='shoes2') }}">
                <img src="{{ url_for('static', filename='img/imgshoe2.jpeg') }}" alt="Assessor Image 2">
                <h2>Black Platform Boots-Male</h2>
                <p>H&M</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='shoes3') }}">
                <img src="{{ url_for('static', filename='img/imgshoe3.jpeg') }}" alt="Assessor Image 3">
                <h2>Burgundy Mary Janes-Female</h2>
                <p>Pull and Bear</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='shoes4') }}">
                <img src="{{ url_for('static', filename='img/imgshoe4.jpeg') }}" alt="Assessor Image 4">
                <h2>Gray Sneakers-Male</h2>
                <p>Nike</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
 
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='shoes5') }}">
                <img src="{{ url_for('static', filename='img/imgshoe5.jpeg') }}" alt="Assessor Image 6">
                <h2>Burgundy Medium Heels-Female</h2>
                <p>Zara</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('item', item_name='shoes6') }}">
                <img src="{{ url_for('static', filename='img/imgshoe6.jpeg') }}" alt="Assessor Image 6">
                <h2>Black Leather Shoes-Male</h2>
                <p>Louis Vuitton</p>
            </a>
            <button>SAVE ITEM</button>
        </div>
    </div>

    <!-- Horizontal line separating body and footer -->
    <hr class="separator-line">

    <footer class="">
        <p>&copy; 2024 DressZeN Finder | <a href="{{ url_for('imprint') }}">Imprint</a></p>
        <p>&copy; 2024 DressZeN Finder | <a href="{{ url_for('maintenance') }}">Maintenance</a></p>
    </footer>

    <script>
        document.querySelector('.login-btn').addEventListener('click', function() {
            window.location.href = '/register';
        });
        
        // Function to toggle dropdown menu visibility
        function toggleDropdown() {
            var dropdown = document.getElementById("dropdownMenu");
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }

        // Close dropdown if clicked outside
        window.onclick = function(event) {
            if (!event.target.matches('.menu-icon')) {
                const dropdowns = document.getElementsByClassName("dropdown-menu");
                for (let i = 0; i < dropdowns.length; i++) {
                    const openDropdown = dropdowns[i];
                    if (openDropdown.style.display === 'block') {
                        openDropdown.style.display = 'none';
                    }
                }
            }
        }
    </script>
</body>
</html>
