<!DOCTYPE html>
<html>
<head>
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
</head>

<body>
    <div class="wrapper" style="background-image: url_for('static', filename='img/bg.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="{{ url_for('static', filename='img/download.jpeg') }}" alt="">
            </div>
            <form method="post" action="/signin"> <!-- Updated action -->
                <h3>Sign in</h3>
                
                <div class="form-wrapper">
                    <input type="text" name="username" placeholder="Username" class="form-control" required>
                    
                </div>
                
                <div class="form-wrapper">
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                </div>
                
                <button type="submit">Sign in 
                </button>

                <p style="text-align: center; margin-top: 20px;">
                    Already have an account? <a href="{{ url_for('register') }}">Register</a>
                    {% if msg %}
                <p style="color: red; text-align: center;">{{ msg }}</p>  <!-- Display error message -->
            {% endif %}
                </p>
            </form>
            
        </div> <!-- Closing inner div -->
    </div>

    <footer>
        <p>&copy; 2024 DressZeN Finder | <a href="{{ url_for('imprint') }}">Imprint</a></p>
    </footer>
</body>
</html>

</body>

</html>